
@use '../_custom.scss' as *; 
@use '../components/mixins' as *;


.menu{
    @include gradient;
        li {
            padding: 0 0.7rem;
                a {
            color: $white ;
            text-transform: capitalize;
            font-weight: 600;

            &:hover{
                color: black;
                text-decoration: underline;
            } 
                    
         }

         
     }
    
     
}

.dropdown-contact {
    color:blue;
}

